{% extends 'base.html' %}
{% block title %}About me{% endblock %}
{% block content %}
    <div class="aboutmeheader">
        <h2>About me</h2>
        <p>こんにちは、今私はある国立大学の医学部で勉強をしています。さてみなさんは医学を学ぶ上でプログラミングは必要だと思いますでしょうか？</p>
    </div>

    <div class="text_area">
        <p class="text">現役医学生による、医学とプログラミングを融合したコースへようこそ。
            医学生、医療系の学生にプログラミングは必要なの？と思うかもしれません。
            私自身はプログラミングは医学生には必修の知識であると考えています。
            では、どのプログラミング言語を学んだら良いのでしょうか？
            医療、研究への応用を目的として勉強するのであれば 「Python一択」 です。
            Pythonというのは、プログラミング言語の一つで、
            データの扱いに特にたけている言語です。
            もちろんこちらのコースではウェブ作成における、CSS,HTML,Javascriptなどの言語も扱いますが、まずはPythonを学ぶことをお勧めします。
            特にPythonは臨床現場の医療と非常に相性が良いのです。
        </p>
        <p class="text">
            Pythonでできることとは？

<!--            シンプルで読みやすい: Pythonの構文は直感的で読みやすく、初心者でも習得しやすいです。-->
<!--            豊富なライブラリ: データ解析、機械学習、ウェブ開発、科学計算など、多岐にわたるライブラリが揃っており、様々な分野で活用できます。-->
<!--            オープンソース: Pythonは無料で利用でき、オープンソースコミュニティによって積極的に開発が進められています。-->
<!--                医療分野でのPythonの活用例-->
<!--            医学生や医療系学生にとって、Pythonを学ぶことは多くのメリットがあります。以下は、具体的な活用例です。-->
<!--            ①自動化：-->


<!--            ②データ解析と統計:-->

<!--                    データ処理: 患者データや研究データの整理と分析を簡単に行うことができます。例えば、pandasライブラリを使って大規模なデータセットを効率的に操作できます。-->
<!--                    統計分析: scipyやstatsmodelsなどのライブラリを使って、統計的な分析や検定を実施できます。-->
<!--            ③機械学習とAI:-->

<!--                    診断支援: 機械学習アルゴリズムを用いて、病気の予測モデルを作成することができます。scikit-learnやTensorFlow、Kerasといったライブラリがよく使われます。-->
<!--                    画像解析: 医療画像（X線、MRIなど）の解析に用いられることが多く、OpenCVやPyTorchを使って画像認識モデルを開発できます。-->
<!--                    バイオインフォマティクス:-->

<!--            ④遺伝子データ解析: DNAシーケンスデータの解析にPythonが広く使われており、Biopythonなどの専門ライブラリがあります。-->
<!--            シミュレーションとモデリング:-->

<!--            ⑤ 患者シミュレーション: 疾病の進行や治療効果をシミュレーションするためのモデルを作成できます。-->
<!--                                薬剤効果モデリング: 薬物動態や薬力学モデルのシミュレーションに用いられます。-->

<!--            これら以外にもpythonはあらゆる形で役立ちます。-->

<!--            ここまで読んだあなたはpythonというもの興味を持った人でしょう。-->
<!--            こちらのコースでは将来臨床、研究に役立つためのpythonの基礎的な文法を始めとして、データ分析、深層学習、機械学習、ウェブアプリの作成などが習得できます。-->
<!--            さあ、私と一緒に医療におけるプログラミングを習得してこの医療の世界を変えましょう！-->

        </p>
        </div>
<br>
<br>
<br>
<br>
{% endblock %}