{% extends 'base.html' %}
{% block title %}Admin Page{% endblock %}

{% block content %}
<section class="container my-5">
    <div class="text-center mb-4">
        <h2>管理人のちょっとした日記</h2>
        <p>This is a blog about a medical student learns deep learning and machine learning using python</p>
        <a href="/create" class="btn btn-info">Create new post</a>
    </div>
    <div class="row row-cols-3 g-4">
        {% for post in posts %}
        <div>
            <div>
                {% if post.img_name %}
                <img src="{{ url_for('static', filename='img/' + post.img_name) }}">
                {% endif %}
                <div>
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.body[:50] }}...</p>
                    <p>date created:{{ post.created_at }}</p>
                    <p>author:{{post.user.username}}</p>
                    {% if user.id == post.author or user.id == 1 %}
                    <a href="/{{ post.id }}/update" class="btn btn-success">Edit</a>
                    <a href="/{{ post.id }}/delete" class="btn btn-danger">Delete</a>
                    {% endif %}
                    <a href="/{{ post.id }}/readmore" class="btn btn-primary">Readmore</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}