{% extends 'base.html' %}
{% block title %}Create New Post{% endblock %}
{% block header%}
        <a href="/logout">ログアウト</a>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8  mx-auto">
            <h2 class="mb-4">Create New Post</h2>
            <form method="POST" enctype="multipart/form-data" class="form-group">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Put title">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Post</label>
                    <textarea class="form-control" id="body" rows="8" name="body" placeholder="Put description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="fileUpload" class="form-label">select a file</label>
                    <input class="form-control" type="file" name="img" id="fileUpload">
                </div>
                <button type="submit" class="btn btn-primary">create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}