{% extends 'base.html' %}
{% block title %}Sosuke's Blog{% endblock %}
{% block content %}
<section>
    <div>
        <h2>管理人のちょっとした日記</h2>
        <p>This is a blog about a medical student learns deep learning and machine learning using python</p>
        <a href="/admin" >edit post</a>
    </div>
    <div>
        {% for post in posts %}
        <div>
            <div>
                {% if post.img_name %}
                    <img src="{{ url_for('static', filename='img/' + post.img_name) }}">
                {% endif %}
                <div>
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.body[:50] }}...</p>
                    <p>date created:{{ post.created_at }}</p>
                    <p>author:{{post.user.username}}</p>
                    <a href="/{{ post.id }}/readmore">詳しく読む</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}