{% extends 'base.html' %}
{% block title %}readmore{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div>
            <article>
                <h1>{{ post.title }}</h1>
                <p>{{ post.created_at }}</p>
                {% if post.img_name %}
                    <img src="{{ url_for('static', filename='img/' + post.img_name) }}" class="img-fluid mb-4" alt="Article Image">
                {% endif %}
                <p>{{ post.body }}</p>
                <p>author:{{post.user.username}}</p>
                {{post.likes|length}}
                {% if user.id in post.likes|map(attribute="author")|list %}
                <a href="/like-post/{{post.id}}"><i class="fas fa-thumbs-up"></i></a>
                    {% else %}
                <a href="/like-post/{{post.id}}"><i class="far fa-thumbs-up"></i></a>
                    {% endif %}
                <br />
                <div id="comments-{{post.id}}">
                    <div >
                        <div id="comments-expanded-{{post.id}}">
                            {% for comment in post.comments %}
                            <div>
                                <div>
                                <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>:
                                {{comment.text}}
                                </div>
                                <div>
                                <small>
                                    {{comment.created_at}}
                                </small>
                                    {% if user.id == comment.author or user.id == post.author or user.id == 1 %}
                                        <div class="btn-group">
                                          <button
                                            type="button"
                                            class="btn btn-sm btn-primary dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                          ></button>
                                          <ul class="dropdown-menu">
                                            <li>
                                              <a
                                                href="/delete-comment/{{comment.id}}"
                                                class="dropdown-item"
                                                >Delete</a
                                              >
                                            </li>
                                          </ul>
                                        </div>
                {% endif %}
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p class="card-text">
                {% if post.comments|length > 0 %}
                <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
                    <small>View {{post.comments|length}} Comments</small>
                </a>
                {% else %}
                    <small class="text-muted">No comments</small>
                {% endif %}
                </p>
                <form class="input-group mb-3" method='POST' action="/create-comment/{{post.id}}">
                    <input type="text" id="text" name="text" class="form-control" placeholder="Comment something"/>
                    <button type="submit">Comment</button>
                </form>
            </article>
        </div>
    </div>
</div>
{% endblock %}